:root {
  --primary-color: #fff;
  --secundary-color: #222;
  --third-color: #8e7bef;
  --fourth-color: #fcda68;
  --fifth-color: #423f40;
  --sixth-color: #f9f5f2;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
p {
  font-size: 18px;
  margin: 0;
}

.content {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.nav__menu {
  display: flex;
  gap: 70px;
  justify-content: right;
  /* background-color: aqua; */
}

.option__mobile {
  display: none;
}

.option__mobile button {
  border: none;
  background-color: transparent;
  color: var(--fourth-color);
  font-size: 28px;
  cursor: pointer;
}

.nav__menu li {
  list-style: none; /* este es el punto */
}

.nav__menu li a  {
  text-decoration: none; /* este es el subrayado */
}

.nav__menu li a:hover {
  color: red;
  font-weight: bolder;
}

.nav__menu .active a {
  color: var(--fourth-color);
}

.header__desing {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

.header__design__section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header__desing_mobile {
  display: none;
}

.content .header__desing section h1 {
  font-size: 65px;
  margin-bottom: 40px;
}

.content .header__desing section {
 width: 55%; 
}

.change__screen > p{
  margin-bottom: 40px;
}

.header__desing .ms1__1 {
  width: 50%;
}

.header__desing .ms1__2 {
  width: 50%;
}

.header__photo {
  display: flex;
  justify-content: center;
  width: 55%;
}

.header__photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.header__desing span {
  color: var(--third-color);
}

.hd2 {
  display: flex;
  gap: 30px;
}

.hd2 div {
  background-color: var(--third-color);
  padding: 15px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hd3 {
  display: flex;
  background-color: var(--third-color);
  width: 30%;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  margin-top: 27px;
}

.hd3 p {
  color: var(--primary-color);
}

.hd2 div img {
  width: 50px;
}

.main__skills {
  background-color: #fcda68;
}

.ms1__2__1 {
  text-align: left;
}

.ms1__2__2 .fix {
  display: flex;
  border-bottom: 1px solid var(--fifth-color);
  gap: 40px;
}

.main__skills__fix {
  padding: 2% 10%;
  margin-top: 40px;}

.ms3__mobile {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 80px;
  margin-top: 30px;
}

.ms3__mobile p {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.ms3__mobile .element {
  text-align: center;
}

.mb2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: center; */
  margin: 0 auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.mb2__card{  
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.mb2__card img{      
  width: 100%;
}

.mb2__card p { 

  padding: 0px 10px;
  color: var(--third-color);
}

.mb2__contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: center; */
  margin: 0 auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.img-container21 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: var(--sixth-color);
  border-radius: 30%;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--primary-color);
}

.footer__data span {
  color: var(--third-color);
}

.contact-img2{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-img3{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .nav__menu {
    display: flex;
  }
  .nav__menu li {
    display: none;
  }
  .option__mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header__desing {
    flex-direction: column
  }
  .content .header__desing section h1 {
    font-size: 50px;
  }
  .content .header__desing section {
    width: 100%;
    text-align: center;
  }
  .hd2 {
    justify-content: center;
  }
  .header__photo {
    display: none;
  }
  .header__desing .ms1__1 {
    width: 100%;
    text-align: center;
  }
  .header__desing .ms1__2 {
    width: 100%;
  }
  .header__desing_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .header__desing_mobile .hd3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .hd3 {
    display: none;
  } 
  .ms3__mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .mb2 {   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 13px; 
  }
  .mb2 img {
    width: 100%;
  }
  .mb2__card{       
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}